.d1{
  background: #DDC3AD;
  transition: all .5s;
  padding: 1px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d2{
  width: 70%;
  margin: 100px auto;
  background: #F0E5DC;
  min-height: 400px;
  display:table;
  position: relative;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.btn button{
  background: transparent;
  display: inline-block;
  padding: 10px 30px;
  border: 3px solid #6182A0;
  border-radius: 50px;
  background-clip: padding-box;
  position: relative;
  color: #6182A0;
  transition: all .25s;
}

.body > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

.wrapper{
  position: absolute;
  width: 40%;
  height: 120%;
  top: 10%;
  left: 5%;
  background: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  transition: all .5s;
  color: #303030;
  overflow: hidden;
}

.wrapper > form{
  padding: 15px 30px 30px;
  width: 100%;
  transition: all .5s;
  background: #fff;
  width: 100%;
}

.wrapper > form:focus{
  outline: none;
}

.wrapper input{
  height: 40px
	padding: 5px 15px;
	width: 100%;
  border: solid 1px #999;
}
